.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# build files and directories
build
*tar.gz
googletest*/*
json*/*
pugixml*/*
simgrid*/*
wrench*/*


# outputs
data/sgbatch/*
tmp
*.pdf
*.png
*.csv
*.txt

# logs and tests
logs
test

# test/profiling outputs
*.ipynb
callgrind.out*

# venv
.venv/*
